/* Start Variables */
:root {
  --main-color: #2196f3;
  --text-color: #777;
  --fill-color : #fafafa;
  --border-links: #e9e6e6;
    --sec-background: #ececec;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
  --main-duration: .3s;
}
/* End Variables */
/* Start Gluable Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cairo', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

@media (min-width:992px) {
  .container {
    width: 970px; 
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}
/* End Gluable Rules */
/* Start Components */
.special-heading {
  font-size: 30px;
  padding: 10px 20px;
  border: 2px solid black;
  width: fit-content;
  margin: 0 auto 80px;
  text-transform: uppercase;
  position: relative;
}

.special-heading::before,
.special-heading::after {
  content: "";
  background-color: var(--main-color);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition-duration: .3s;
  z-index: 100;
} 

.special-heading::before {
  left: -30px;
}

.special-heading::after {
  right: -30px;
}

.special-heading:hover::before {
  animation: left-fill .5s linear forwards ;
  z-index: -1;
}

@keyframes left-fill {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  100% {
    left: 0;
    width: 50%;
    height: 100%;
    border-radius:0;
  }
}

.special-heading:hover::after {
  animation: right-fill .5s linear forwards ;
  z-index: -1;
}

@keyframes right-fill {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  100% {
    right: 0;
    width: 50%;
    height: 100%;
    border-radius:0
  }
}

.special-heading:hover {
  color: white;
  background-color: var(--main-color);
  border-color: white;
  transition-delay: .5s;
}

.spikes {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 30px;
  top: 0; 
  background-image:t
    linear-gradient(309deg, var(--sec-background) 25%, transparent 25%),
    linear-gradient(51deg, var(--sec-background) 25%, transparent 25%);
  background-size: 30px 30px;
}

.dots {
  width: 200px;
  height: 200px;
  background-image: url(../images/dots.png);
  background-size: cover;
  position: absolute;
}

.dots-up {
  right: 0;
  top: 200px;
}

.dots-down {
  left: 0;
  bottom: 200px;
}
/* End Components */
/* Start Header */
header {
  background-color: white;
  --webkit-box-shadow: 0 0 10px #ddd;   
  --moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}

header .container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media (max-width: 767px) {
  header .container {
    flex-direction: column;
    text-align: center;
  }
}

header .container .logo {
  text-transform: capitalize;
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  padding: 20px 0;
}

@media (max-width: 767px) {
  header .container .logo {
    padding-bottom: 0;
  }
}

header .container .links {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  text-transform: capitalize;
  font-size: 18px;
}

header .container .links ul {
  display: flex;
}

header .container .links ul li {
  padding: 0;
  margin: 0;
  transition-duration: var(--main-duration);
}

header .container .links > ul > li:hover {
  background-color: var(--fill-color);
}

@media (max-width: 767px) {
  header .container .links {
    justify-content: center;
  }
}

header .container .links > ul > li > a {
  padding: 0 30px;
  color: black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 70px;
  overflow: hidden;
  transition: var(--main-duration);
}

@media (max-width: 767px)  {
  header .container .links > ul > li > a {
    font-size: 14px;
    padding: 0 15px;
    height: 40px; 
  }
}

header .container .links ul li:hover a {
  color: var(--main-color);
}

header .container .links > ul > li > a::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: -100%;
  transition: var(--main-duration);
}

header .container .links > ul > li:hover > a::before {
  left: 0;
}
/* End Header */
/* Start Menu */
header .container .links ul li menu {
  width: 100%;
  padding: 30px;
  position: absolute;
  top: calc(100% + 50px);
  left: 0;
  background-color: white;
  display: flex;
  gap: 40px;
  border-bottom: solid 3px var(--main-color);
  opacity: 0;
  transition: top var(--main-duration), opacity var(--main-duration);
  z-index: -1;
}

@media (max-width:767px) {
  header .container .links ul li menu {
    display: block;
    font-size: 18px;
    padding: 5px;
  }
}

header .container .links ul li:hover menu {
  opacity: 1;
  z-index: 5;
  top: calc(100% + 1px);
}

header .container .links ul li menu img {
  max-width: 100%;
}

@media (max-width:992px) {
  header .container .links ul li menu img{
    display: none;
  }
}

header .container .links ul li menu .col {
  min-width: 250px;
  flex: 1;
}

header .container  menu .col ul {
  flex-direction: column;
}

header .container menu .col ul li {
  padding:0;
  margin: 0;
}

@media (max-width:767px) {
  header .container menu .col:nth-child(2){
    border-bottom: 1px solid #e9e6e6;
  }
}

header .container menu .col ul li:hover::before {
  width: 100%;
}

header .container menu .col ul li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}

header .container menu .col ul li a {
  padding: 15px;  
  display: flex;
  align-items: center;
  color: var(--main-color);
  font-weight: 700;
  position: relative;
  overflow: hidden;
}

header .container menu .col ul li a::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: -100%;
  background-color: var(--fill-color);
  transition: left var(--main-duration);
  z-index: -1;
}

header .container menu .col ul li a:hover::before {
  left: 0;
}

header .container menu .col ul li a i {
  margin-right: 10px;
}
/* End-menu */
/* Start Landing */
.landing {
  position: relative;
  background-color: #ececec;
  overflow: hidden;
}

.landing::before {
  content: "";
  background-color: white;
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: -50px;
  transform: rotate(354deg) scale(1.5);
}

@media (max-width: 767px) {
  .landing::before {
    bottom: -140px;
  }
}

@media (max-width: 992px) {
  .landing::before {
    bottom: -110px;
  }
}

.landing .container {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
}

@media (max-width: 992px) {
  .landing .container {
    height: calc(100vh - 120px);
  }
}

.landing .container .text {
  flex: 1;
}

.landing .container .text h1 {
  font-size: 40px;
  letter-spacing: -1px;
  margin: 0;
}

.landing .container .text p {
  font-size: 23px;
  color: var(--text-color);
  line-height: 1.7;
  margin: 5px 0 0;
  max-width: 500px;
} 

@media (max-width: 992px) {
  .landing .container .text {
    text-align: center;
  }

  .landing .container .text h1 {
    font-size: 28px;
  }

  .landing .container .text  p {
    font-size: 18px;
    margin: 10px auto;
  }
  .landing .container .image {
    display: none;
  }
}

.landing .container .image img {
  width: 600px;
  animation: float 4s infinite linear  ;
  position: relative;
}

@keyframes float {
  0%,100% {
    bottom: 0;
  }
  50% {
    bottom: 40px;
  }
}

.landing .container a i {
  color: var(--main-color);
  font-size: 25px;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  animation: up-down 1.2s linear infinite;
}

@keyframes up-down {
  0%,30%,60%,100% {
    bottom: 25px;
  }
  15%,45% {
    bottom: 40px;
  }
}
/* End Landing */
/* Start Articles */
.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap: 40px;
} 

.articles .container .test-box {
  box-shadow: -2px 15px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
  transform: translateY(0);
  transition: transform var(--main-duration), box-shadow var(--main-duration);
}

.articles .container .test-box:hover {
  box-shadow: -2px 15px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px); 
}

.articles .container .test-box img {
  width: 100%;
  max-width: 100%;
}

.articles .container .test-box .text {
  padding: 20px;
  border-bottom: 1px solid var(--border-links);
}

.articles .container .test-box .text h3 {
  margin-bottom: 20px;
}

.articles .container .test-box .text p {
  color: var(--text-color);
  line-height: 1.5;
}

.articles .container .test-box .more {
  padding: 20px;
  display: block;
  color: var(--main-color);
  font-weight: bold;
  position: relative
}

.articles .container .test-box .more::before {
  content: "\f178";
  font-family: "font awesome 5 free";
  position: absolute;
  right: 20px;
}
/* End Articles */
/* Start Gallery */
.gallery {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--sec-background);
  position: relative;
  z-index: 100;
}

.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 65px;
}

.gallery .container .image {
  outline: 15px solid white;
  box-shadow: -2px 15px 20px rgba(0, 0, 0, .2), 2px 15px 20px rgba(0, 0, 0, .25);
  overflow: hidden;
  position: relative;
}

.gallery .container .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
}

.gallery .container .image:hover::before {
  animation: flashing .7s;
}

@keyframes flashing {
  0%,40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

.gallery .container .image img {
  max-width: 100%;
  transition: var(--main-duration);
  transform: scale(1.02);
}
.gallery .container .image:hover img {
  transform: rotate(5deg) scale(1.1);
}
/* End Gallery */
/* Start Features */
.features {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 40px;
}

.features .container .box-features {
  border: 1px solid #ccc;
}

.features .container .box-features .image {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.features .container .box-features .image::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: -1px;
}

.features .container .box-features .image.red::before {
  background-color: #f440367b;
}
.features .container .box-features .image.green::before {
  background-color: #0096887b;
}
.features .container .box-features .image.blue::before {
  background-color: #03a8f47b;
}

.features .container .box-features .image::after {
  content: "";
  background-color: white;
  width: 100%;
  height: 52%;
  position: absolute;
  bottom: -103px;
  left: 0;
  z-index: 3;
  transform: skew(0, 341deg);
  transition: transform var(--main-duration);
}

.features .container .box-features:hover .image::after {
  transform: skew(76deg, 340deg);
}

.features .container .box-features .image img {
  max-width: 100%;
}

.features .container .text-features {
  padding: 20px;
  text-align: center;
}

.features .container .text-features h2 {
  width: fit-content;
  margin: 0 auto 40px;
  font-size: 40px;
  position: relative;
}

.features .container .text-features h2::before {
  content: "";  
  width: 75%;
  height: 4px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
}

.features .container .text-features h2.red::before {
  background-color: #f44036;
}
.features .container .text-features h2.green::before {
  background-color: #009688;
}
.features .container .text-features h2.blue::before {
  background-color: #03a8f4;
}

.features .container .text-features p {
  line-height: 1.8;
  color: var(--text-color);
  font-size: 20px;
}

.features .container .box-features .more {
  width: fit-content;
  display: block;
  margin: 30px auto 30px;
  border: solid 3px;
  border-radius: 6px;
  padding: 10px 30px;
  font-size: 22px;
  font-weight: bold;
  position: relative;
  transition: color var(--main-duration);
}

.features .container .box-features .more::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 
    width var(--main-duration), 
    background-color var(--main-duration);
}

.features .container .box-features:hover .more::before {
  width: 100%;
}

.features .container .box-features:hover .more.red::before {
  background-color: #f44036;
}

.features .container .box-features:hover .more.green::before {
  background-color: #009688;
}

.features .container .box-features:hover .more.blue::before {
  background-color: #03a8f4;
}

.features .container .box-features .more.red {
  color: #f44036;
  border-color: #f44036;  
}
.features .container .box-features .more.green {
  color: #009688;
  border-color: #009688;
}
.features .container .box-features .more.blue {
  color: #03a8f4;
  border-color: #03a8f4;
}

.features .container .box-features:hover .more {
  color: white;
}
/* End Features */
/* Start Testimonials */
.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--sec-background);
  position: relative;
  z-index: 100;
}

.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 40px;
}

.testimonials .container .box {
  padding: 20px;
  position: relative;
  background-color: white;
  border-radius: 6px;
}

.testimonials .container .box img {
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px; 
  right: 0;
  display: block;
  border: 10px solid var(--sec-background);
}

.testimonials .container .box h2 {
  font-weight: bold;
}

.testimonials .container .box .job {
  color: var(--text-color);
  margin: 10px 0;
}

.testimonials .container .box .rate i {
  color: rgb(253, 194, 0);
}

.testimonials .container .box .rate .fa-regular {
  color: black;
}

.testimonials .container .box p {
  color: var(--text-color);
  margin-top: 10px;
}
/* End Testimonials */
/* Start Team Members */
.team {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.team .box {
  position: relative;
}
.team .box::before,
.team .box::after {
  content: "";
  background-color: #f3f3f3;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 10px;
  transition: var(--main-duration);
}
.team .box::before {
  width: calc(100% - 60px);
  z-index: -2;
}
.team .box::after {
  z-index: -1;
  background-color: #e4e4e4;
  width: 0;
}
.team .box:hover::after {
  width: calc(100% - 60px);
}
.team .box .data {
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.team .box .data img {
  width: calc(100% - 60px);
  transition: var(--main-duration);
  border-radius: 10px;
}
.team .box:hover img {
  filter: grayscale(100%);
}
.team .box .data .social {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.team .box .data .social a {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team .box .data .social a:hover i {
  color: var(--main-color);
}
.team .box .data .social i {
  color: #777;
  transition: var(--main-duration);
}
.team .box .info {
  padding-left: 80px;
}
.team .box .info h3 {
  margin-top: 10px;
  margin-bottom: 0;
  color: var(--main-color);
  font-size: 22px;
  transition: var(--main-duration);
}
.team .box .info p {
  margin-top: 10px;
  margin-bottom: 25px;
}
.team .box:hover .info h3 {
  color: #777;
}
/* End Team Members */
/* Start Services */
.services {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--sec-background);
  position: relative;
  z-index: 100;
}

.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 40px;
}

.services .container .box {
  text-align: center;
  background-color: white;
  flex-direction: column;
  box-shadow: -2px 15px 20px rgba(0, 0, 0, 0.1), 2px 0px 20px rgba(0, 0, 0, 0.1 );
  position: relative;
  transition: transform .3s;
  counter-increment: services;
}

.services .container .box:hover {
  transform: translateY(-10px);
}

.services .container .box::before {
  content: "";
  width: 0%;
  height: 3px;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  transition: width .3s;
}

.services .container .box:hover::before {
  width: 100%;
}

.services .container .box i {
  display: block;
  color: #d5d5d5;
  font-size: 60px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.services .container .box h2 {
  color: var(--main-color);
  margin-bottom: 40px;
} 

.services .container .box .info {
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
}

.services .container .box .info .number {
  background-color: var(--main-color);
  width: 95px;
  height: 48px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  position: relative;
}

.services .container .box .info .number::before {
  content: "0" counter(services);
  position: absolute;
  left: 45%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.services .container .box .info .number::after {
  content: "";
  width: 50px;
  height: 100%;
  background-color: #d5d5d5;
  transform: skewx(330deg);
  position: absolute;
  right: -35px;
  top: 0;
}

.services .container .box .info [href="details"] {
  display: flex;
  align-items: center;
  padding: 0px 15px;
  color: var(--main-color);
}
/* End Services */
/* Start Our Skills */
.our-skills {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

.our-skills .container {
  display: flex;
}

.our-skills .container .image {
  flex-basis: 50%;
}

@media (max-width:991px) {
  .our-skills .container .image {
    display: none;
  }
}

.our-skills .container .skills {
  flex: 1;
}

.our-skills .container .skills .prog-holder {
  margin-bottom: 20px;
}

.our-skills .container .skills .prog-holder h3 {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.our-skills .container .skills .prog-holder h3 span {
  color: var(--main-color);
  border: 1px solid var(--sec-background);
  padding: 0 5px;
  font-size: 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.our-skills .container .skills .prog-holder .prog {
  width: 100%;
  height: 30px;
  background-color: var(--sec-background);
}

.our-skills .container .skills .prog-holder .prog span {
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
}
/* End Our Skills */
/* Start How It Works */
.works {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--sec-background);
  position: relative;
  z-index: 100;
}

.works .container {
  display: flex;
}

@media (max-width: 991px) {
  .works .container {
    flex-direction: column;
  }
}

.works .container .image {
  display: flex;
  align-items: center;
}

.works .container  .image  img {
  max-width: 100%;
  margin-right: 100px;
}

@media (max-width: 1199px) {
  .works .container .image {
    margin: 0 auto;
  }

  .works .container .image img {
    margin: 0;
  }
}


.works .container .work-boxs .box {
  width: 570px;
  background-color: #f6f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 30px;
  border: solid 2px white;
  border-radius: 6px;
  position: relative;
}

@media (max-width: 1199px) {
  .works .container .work-boxs .box {
    max-width: 400px;
    margin: 0 auto 30px;
  }
}

@media (max-width: 991px) {
  .works .container .work-boxs .box {
    max-width: 100%;
    margin: 40px auto 30px;
    flex-direction: column;
    text-align: center;
  }
}

.works .container .work-boxs .box::before {
  content: "";
  background-color: var(--sec-background);
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: width .3s, height .3s;
}

.works .container .work-boxs .box:hover::before {
  width: 100%;
  height: 100%;
}


.works .container .work-boxs .box .image img {
  max-width: 64px;
  margin-right: 30px;
  position: relative;
}

@media (max-width: 1199px){
  .works .container .work-boxs .box .image img {
    margin: 0 0 10px;
  }
}

.works .container .work-boxs .box .text {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 100;
} 

.works .container .work-boxs .box .text h3 {
  font-size: 22px;
}

.works .container .work-boxs .box .text p {
  margin-top: 10px;
  line-height: 1.8;
  color: var(--text-color);
  font-size: 18px;
}
/* End How It Works */
/* Start events Events */
.events {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

@media (max-width: 1199px) {
  .events .dots {
    display: none;
  }
}

.events .flex-box {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

@media (max-width: 991px) {

}

.events .flex-box img {
  width: 450px;
}

@media (max-width: 991px) {
  .events::before,
  .events::after,
  .events .flex-box img{
    display: none;
  }

  .events .flex-box {
    display: block;
  }
}

.events .flex-box .counter-box {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1;
}


.events .flex-box .counter-box .counter {
  display: flex;
}

.events .flex-box .counter-box .counter .unit {
  text-align: center;  
  border: 1px solid #d4d4d4; 
  width: 75px;
  margin-right: 10px;
  border-radius: 10px;
}

.events .flex-box .counter-box .counter .unit span:first-child {
  display: block;
  font-size: 35px;
  color: var(--main-color);
  font-weight: bold;
  padding: 15px;
}

.events .flex-box .counter-box .counter .unit span:last-child {
  display: block;
  font-size: 13px;
  color: black;
  font-weight: normal;
  padding: 8px 10px;
  border-top: 1px solid #d4d4d4;
}

.events .flex-box .counter-box h2 {
  font-size: 30px;
  margin: 30px 0 20px;
}

.events .flex-box .counter-box p {
  line-height: 1.8;
  color: var(--text-color);
  font-size: 19px;
  text-align: center;
}

.events  form {
  width: 600px;
  margin: 20px auto;
  background-color: #f6f5f5;
  padding: 30px 40px;
  border-radius: 50px;
  display: flex;
  gap: 20px
}


.events  form input[type="email"] {
  flex: 1;
  padding: 20px;
  border-radius: 40px;
  border: none;
  caret-color: var(--main-color);
}

.events  form input[type="email"]:focus {
  outline: none;
}

.events  form input[type="email"]:focus::placeholder {
  color: transparent;
  transition-duration: var(--main-duration);
}

.events  form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  transition: background-color var(--main-duration);
}

.events  form input[type="submit"]:hover {
  background-color: #3480e4;
}

@media (max-width: 767px) {
  .events  form,
  .events  form input[type="email"],
  .events  form input[type="submit"] {
    display: block;
    width: 100%;
    border-radius: 0;
  }

  .events  form {
    padding: 15px 20px;
  }

  .events  form input[type="email"] {
    margin-bottom: 20px;
  }
}
/* End events Events */
/* Start Pricing Plans */
.pricing {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--sec-background);
  position: relative;
  z-index: 100;
}

.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 30px;
}

.pricing .container .col {
  position: relative;
  z-index: 100;
  background-color: white;
  box-shadow: 
    0 12px 20px 0 rgb(0 0 0 / 13%), 
    0 2px 4px 0 rgb(0 0 0 / 12%);
}

.pricing .container .col::before {
  content: "";
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  position: absolute;
  top: 0;
  left: 0;
  transition: width var(--main-duration);
  z-index: -1;
} 

.pricing .container .col:hover::before {
  width: 100%;
}

.pricing .container .col::after {
  content: "";
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: width var(--main-duration);
  z-index: -1;
} 

.pricing .container .col:hover::after {
  width: 100%;
}

@media (min-width: 1200px) {
  .pricing .container .col.advanced {
    bottom: 20px
  }
}

.pricing .container .col.advanced .label {
  width: 40px;
  writing-mode: vertical-rl;
  padding: 20px 10px 35px 10px;
  background-color: var(--main-color);
  color: white;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 20px;
}

.pricing .container .col.advanced .label::before {
  content: "";
  border-style: solid;
  border-width: 20px;
  border-color: transparent transparent white transparent;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.pricing .container .col .title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin: 30px 0;
}

.pricing .container .col  img {
  display: block;
  width: 100px;
  margin: 0 auto;
}

.pricing .container .col .price {
  text-align: center;
  margin: 20px 0;
}

.pricing .container .col .price .amount {
  color: var(--main-color);
  font-size: 60px;
  font-weight: bold;
}

.pricing .container .col .price .time {
  color: var(--text-color);
  margin-top: 5px;
}

.pricing .container .col ul li:not(:last-child) {
  border: 1px solid #eee;
  padding: 20px;
}

.pricing .container .col ul li:last-child {
  padding: 20px
}

.pricing .container .col ul li i {
  color: var(--main-color);
  font-weight: bold;
  margin-right: 20px;
}

.pricing .container .col a {
  display: block;
  width: fit-content;
  margin: 20px auto 40px;
  padding: 15px 20px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 6px;
  font-weight: bold;
  transition: var(--main-duration);
}

.pricing .container .col a:hover {
  background-color: var(--main-color);
  color: white;
}
/* End Pricing Plans */
/* Start Top Videos */
.video {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

.video .container {
  display: flex;
}

@media (max-width: 991px) {
  .video .container {
    display: flex;
    flex-direction: column;
  }
}

.video .container .video-list {
  border: 1px solid #d4d4d4;
}

.video .container .video-list .title {
  width: 300px;
  display: flex;
  justify-content: space-between;
  background-color: var(--sec-background);
  padding: 20px;
}

@media (max-width: 991px) {
  .video .container .video-list .title {
    width: 100%;
  }
}

.video .container .video-list .top {
  font-weight: bold;
}

.video .container .video-list  ul li {
  padding: 20px;
  border-bottom: 1px solid #d4d4d4;
  cursor: pointer;
  transition: 
    background-color var(--main-duration),
    color var(--main-duration);
}

.video .container .video-list  ul li:hover {
  background-color: #fafafb ;
  color: var(--main-color);
}

.video .container .video-list ul li span {
  display: block;
  margin-top: 5px;
  color: var(--text-color);
}

.video .container .video-content {
  background-color: var(--sec-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.video .container .video-content video {
  max-width: 100%;
  margin: 10px;
}

.video .container .video-content .info {
  background-color: white;
  padding: 20px;
  margin: 0 10px 10px;
}
/* End Top Videos */
/* Start Stats */
.stats {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-image: url(../images/stats.jpg);
  background-size: cover;
  position: relative;
  z-index: 100;
}

.stats::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 0;
}

.stats h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}

.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap: 20px;
  position: relative;
}

.stats .container .box {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  position: relative;
}

.stats .container .box::before {
  content: "";
  height: 0;
  width: 2px;
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: height .9s;
}

.stats .container .box::after {
  content: "";
  height: 0;
  width: 2px;
  background-color: var(--main-color);
  position: absolute;
  right: 0;
  top: 0;
  transition: height .9s;
}

.stats .container .box:hover::before,
.stats .container .box:hover::after {
  height: 100%;
}

.stats .container .box i {
  font-size: 30px;
}

.stats .container .box .number {
  font-size: 40px;
  font-weight: bold;
  margin: 20px 0;
}

.stats .container .box span {
  font-size: 20px;
  color: var(--main-color);
  font-weight: 700;
}
/* End Stats */
/* Start Discount */
.discount {
  display: grid;
  grid-template-columns: repeat(2,50%);
  height: 100vh;  
}

@media (max-width: 991px) {
  .discount {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.discount .image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/discount-background1.jpg);
  background-size: cover;
  width: 100%;
  position: relative;
  z-index: -1;
  animation: change 10s linear infinite;
}

@keyframes change {
  50% {
    background-image: url(../images/discount-background2.jpg);
  }
  100% {
    background-image: url(../images/discount-background1.jpg);
  }
}

.discount .image::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #2195f3f7;
  position: absolute;
  top: 0;
  z-index: -1;
}


.discount .image .content {
  padding: 0 20px; 
  color: white;
  text-align: center;
}

.discount h2 {
  font-size:  40px;
  margin: 35px 0;
}

.discount .image .content p {
  margin: 20px 0;
  font-size: 18px;
  line-height: 1.8;
  max-width: 500px;
}

.discount .image .content img {
  width: 300px;
  max-width: 100%;
}

.discount  .request {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
}

.discount  .request .content {
  text-align: center;
  flex-basis: 50%;
}

.discount  .request .content form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.discount  .request .content form .input {
  padding: 20px;
  background-color: #f9f9f9;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  caret-color: var(--main-color); 
}

.discount  .request .content form .input:focus {
  outline: none;
}

.discount  .request .content form textarea {
  height: 200px;
  resize: none;
}

.discount  .request .content form .input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
/* End Discount */
/* Start .footer */
.footer {
  padding-top: 70px;
  background-color: #191919;
  color: white;
  display: block;
}

@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap: 40px;
}

.footer .container .col.social h3 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 50px;
}

.footer .container .col.social ul {
  display: flex;
}

@media (max-width: 767px) {
  .footer .container .col.social ul {
    justify-content: center;
  }
}

.footer .container .col.social ul li {
  margin-right: 10px;
}

.footer .container .col.social ul li a {
  padding: 20px;
  background-color: #313131;
  color: #b9b9b9;
  font-size: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--main-duration);
}

.footer .container .col.social ul li .facebook:hover {
  background-color: #1877f2;
  color: white;
}

.footer .container .col.social ul li .twitter:hover {
  background-color: #1d9bf0;
  color: white;
}
.footer .container .col.social ul li .youtube:hover {
  background-color: #ff0000;
  color: white;
}

.footer .container .col.social p {
  margin: 20px 0;
  color: #b9b9b9;
  line-height: 1.8;
  font-size: 16px;
}

.footer .container .col.links ul li {
  padding: 15px 0;
  border-bottom: 2px solid #313131; 
}

.footer .container .col.links ul li:last-child {
  border: none;
}

.footer .container .col.links ul li a {
  font-size: 16px;
  color: #b9b9b9;
  transition: margin var(--main-duration); 
}

.footer .container .col.links ul li:hover a{
  margin-left: 10px;
  color: white;
}

.footer .container .col.links ul li a i {
  margin-right: 10px;
  color: var(--main-color);
}

.footer .container .col.contacts .content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.footer .container .col.contacts .content i {
  margin-right: 20px;
  color: var(--main-color);
  font-size: 25px;
}

@media (max-width: 767px) {
  .footer .container .col.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer .container .col.contacts .content {
    flex-direction: column;
  }

  .footer .container .col.contacts .content i {
    margin: 0 0 15px;
  }
}

.footer .container .col.contacts .content .info {
  color: #b9b9b9;
  font-size: 16px;
  line-height: 1.5;
}


.footer .container .col.footer-gallery img {
  width: 75px;
  height: 75px;
  margin: 2px;
  border: 3px solid white;
}

.footer  .copyright {
  padding: 25px 0;
  text-align: center;
  border-top: 2px solid #313131;
  font-size: 16px;
  margin-top: 50px;
}

.footer .copyright i {
  color: var(--main-color);
  margin: 5px;
}
/* End .footer */
